@model IEnumerable<thot_eLearning.Models.Cours>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Insert")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prerequis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbModules)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prerequis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbModules)
            </td>

            <!--Buttons that Edits and Delete-->
            <td>
                @Html.ActionLink("Update", "Update", new { Nom = item.Nom }) |
                @Html.ActionLink("Delete", "Delete", new { Nom = item.Nom })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
