@model IEnumerable<thot_eLearning.Models.Cours>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Admin</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="~/Content/admin.css"/>
</head>
<body>
    <div class="container">
        <p>
            <button onclick="location.href='/Home/Insert'" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Create</button>

        </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prerequis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbModules)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prerequis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbModules)
                </td>

                <!--Buttons that Edits and Delete-->
                <td>
                    <button onclick="location.href='/Home/Update?Nom=@item.Nom'" class="btn btn-outline-primary"><i class="fas fa-pen"></i> Update</button>
                    <button onclick="location.href='/Home/Delete?Nom=@item.Nom'" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Delete</button>
                    
                </td>
            </tr>
        }

    </table>
    </div>
</body>
</html>
